res://Materials/Weapons/Hard Sword/ce2663ea.tres
res://Materials/Weapons/Killer Sword/6420195c.tres
res://Materials/Weapons/Flame Gun/34f5f989.tres
res://Materials/Weapons/Flame Gun/284fe876.tres
res://Materials/Weapons/Sniper Rifle/43a6782c.tres
res://Materials/Weapons/Sniper Rifle/3c848fd8.tres
res://Materials/Weapons/Ray Sword/3d89ecc3_beam.tres
res://Materials/Weapons/Ray Sword/3d89ecc3.tres
res://Materials/Weapons/Ray Sword/f3337a7.tres
res://Materials/Weapons/Common/54429747.tres
res://Materials/Weapons/Shot Gun/8d8d9509.tres
res://Materials/Weapons/Shot Gun/52e9fc27.tres
res://Materials/Weapons/Moto Gun/377a1a7f.tres
res://Materials/Weapons/Moto Gun/e1c81ffd.tres
res://Materials/Weapons/Laser Rifle/c7d47d84.tres
res://Materials/Weapons/Laser Rifle/b7e174df.tres
res://Materials/Weapons/Hand Gun/77370af1.tres
res://Materials/Weapons/Hand Gun/a17a3edc.tres
res://Materials/Particles/Spark.tres
res://Materials/Particles/Dash Trail.tres
res://Materials/Particles/Fire.tres
res://Materials/Particles/bc814aba_1G.tres
res://Materials/Particles/Smoke.tres
res://Materials/Menus/Select Player/988eb3fe.tres
res://Materials/Menus/Select Player/8fa4a5c5.tres
res://Materials/Menus/Select Player/bf365546.tres
res://Materials/Items/Jetpack/d4b974c1.tres
res://Materials/Items/Jetpack/c57fd08e.tres
res://Materials/Levels/Pitch Dark Stadium/cb6837dc.tres
res://Materials/Levels/Pitch Dark Stadium/b1eef7e9.tres
res://Materials/Levels/Pitch Dark Stadium/7b60f3f8.tres
res://Materials/Levels/Pitch Dark Stadium/e0895b0.tres
res://Materials/Levels/Pitch Dark Stadium/f9d1ef50.tres
res://Materials/Levels/Pitch Dark Stadium/c108a70a.tres
res://Materials/Levels/Pitch Dark Stadium/8d161025.tres
res://Materials/Levels/Pitch Dark Stadium/477a8a5d.tres
res://Materials/Levels/Pitch Dark Stadium/55902218.tres
res://Materials/Levels/Pitch Dark Stadium/8c11667a.tres
res://Materials/Levels/Pitch Dark Stadium/8e45c46f.tres
res://Materials/Levels/Pitch Dark Stadium/4a749d8d.tres
res://Materials/Levels/Pitch Dark Stadium/5e3000c2.tres
res://Materials/Levels/Pitch Dark Stadium/e44c0540.tres
res://Materials/Levels/Pitch Dark Stadium/50af3ca5.tres
res://Materials/Levels/Pitch Dark Stadium/ac1e67a.tres
res://Materials/Levels/Pitch Dark Stadium/b033cc37.tres
res://Materials/Levels/Pitch Dark Stadium/e6756422.tres
res://Materials/Levels/Pitch Dark Stadium/9939eb6.tres
res://Materials/Levels/Pitch Dark Stadium/a5d3c258.tres
res://Materials/Levels/Pitch Dark Stadium/35dfb7c8.tres
res://Materials/Levels/Pitch Dark Stadium/b52de668.tres
res://Materials/Levels/Pitch Dark Stadium/22325d12.tres
res://Materials/Levels/Pitch Dark Stadium/1a188e5.tres
res://Materials/Levels/Pitch Dark Stadium/a8de1a7d.tres
res://Materials/Levels/Pitch Dark Stadium/3d771c6a.tres
res://Materials/Levels/Pitch Dark Stadium/9939eb6_emit.tres
res://Materials/Levels/Pitch Dark Stadium/52ac8771.tres
res://Materials/Levels/Pitch Dark Stadium/4251cd45.tres
res://Materials/Levels/Pitch Dark Stadium/ae11273d.tres
res://Materials/Levels/Pitch Dark Stadium/ce126385.tres
res://Materials/Levels/Playground Material 2.tres
res://Materials/Levels/Ocean Castle Twilight/a69ee3bd.tres
res://Materials/Levels/Ocean Castle Twilight/e109d152.tres
res://Materials/Levels/Ocean Castle Twilight/779ff58a.tres
res://Materials/Levels/Ocean Castle Twilight/a5e8cdbe.tres
res://Materials/Levels/Ocean Castle Twilight/f2c1fced.tres
res://Materials/Levels/Ocean Castle Twilight/e7c9ad4c.tres
res://Materials/Levels/Ocean Castle Twilight/c5939f6b.tres
res://Materials/Levels/Ocean Castle Twilight/d791be7f.tres
res://Materials/Levels/Ocean Castle Twilight/1ee2aa2d.tres
res://Materials/Levels/Ocean Castle Twilight/1448c99.tres
res://Materials/Levels/Ocean Castle Twilight/6dc85889.tres
res://Materials/Levels/Ocean Castle Twilight/83b505fe.tres
res://Materials/Levels/Ocean Castle Twilight/171fefb.tres
res://Materials/Levels/Ocean Castle Twilight/2fdfb5a7.tres
res://Materials/Levels/Ocean Castle Twilight/10837be.tres
res://Materials/Levels/Ocean Castle Twilight/645cd4b3.tres
res://Materials/Levels/Ocean Castle Twilight/5e58c3a1.tres
res://Materials/Levels/Ocean Castle Twilight/48bbc6a7.tres
res://Materials/Levels/Ocean Castle Twilight/c6624452.tres
res://Materials/Levels/Ocean Castle Twilight/3c1b2d1b.tres
res://Materials/Levels/Sunken City Night/d745d8c0.tres
res://Materials/Levels/Sunken City Night/9c089690.tres
res://Materials/Levels/Sunken City Night/510b6e74.tres
res://Materials/Levels/Sunken City Night/4b2181eb.tres
res://Materials/Levels/Sunken City Night/dacc25f.tres
res://Materials/Levels/Sunken City Night/110a3c4a.tres
res://Materials/Levels/Sunken City Night/b0fb780e.tres
res://Materials/Levels/Sunken City Night/a2d8d22b.tres
res://Materials/Levels/Sunken City Night/149ee502.tres
res://Materials/Levels/Sunken City Night/ccc08d4a.tres
res://Materials/Levels/Sunken City Night/feb320f3.tres
res://Materials/Levels/Sunken City Night/79fbbd8b.tres
res://Materials/Levels/Sunken City Night/9a19043b.tres
res://Materials/Levels/Sunken City Night/a6876e41.tres
res://Materials/Levels/Sunken City Night/35743e07.tres
res://Materials/Levels/Sunken City Night/56ad2daf.tres
res://Materials/Levels/Sunken City Night/6ad0dbfb.tres
res://Materials/Levels/Sunken City Night/aaa38b75.tres
res://Materials/Levels/Sunken City Night/ae58880f.tres
res://Materials/Levels/Sunken City Night/8f08089f.tres
res://Materials/Levels/Sunken City Night/31e96356.tres
res://Materials/Levels/Sunken City Night/8bc01ff4.tres
res://Materials/Levels/Sunken City Night/279778ab.tres
res://Materials/Levels/Sunken City Night/85205df4.tres
res://Materials/Levels/Sunken City Night/f480be53.tres
res://Materials/Levels/Sunken City Night/193cef1d.tres
res://Materials/Levels/Sunken City Night/d5c4dd88.tres
res://Materials/Levels/Sunken City Night/5949aaca.tres
res://Materials/Levels/Sunken City Night/3bc171cf.tres
res://Materials/Levels/Sunken City Night/feb47083.tres
res://Materials/Levels/Playground Material 1.tres
res://Materials/Characters/Kassey/Skins/Skin1/2a050a45.tres
res://Materials/Characters/Kassey/Skins/Skin1/638fddd8.tres
res://Materials/Characters/Kassey/Skins/Skin1/7737f438.tres
res://Materials/Characters/Kassey/Skins/Skin1/90d3b3c8.tres
res://Materials/Characters/Kassey/Skins/Skin1/f7743223.tres
res://Materials/Characters/Kassey/Skins/Skin1/f3f8de85.tres
res://Materials/Characters/Kassey/Skins/Default/c17e1d56.tres
res://Materials/Characters/Kassey/Skins/Default/de008fba.tres
res://Materials/Characters/Kassey/Skins/Default/e45c9788.tres
res://Materials/Characters/Kassey/Skins/Default/265d3558.tres
res://Materials/Characters/Kassey/Skins/Default/3bad84f5.tres
res://Materials/Characters/Kassey/Skins/Default/d8a37c3.tres
res://Materials/Characters/Kassey/Skins/Skin3/5b62b6fe.tres
res://Materials/Characters/Kassey/Skins/Skin3/7d1bb7d5.tres
res://Materials/Characters/Kassey/Skins/Skin3/6a09194.tres
res://Materials/Characters/Kassey/Skins/Skin3/1cda868d.tres
res://Materials/Characters/Kassey/Skins/Skin3/5c2b3ff9.tres
res://Materials/Characters/Kassey/Skins/Skin3/fd3d6db5.tres
res://Materials/Characters/Kassey/Skins/Skin2/b5eeaf38.tres
res://Materials/Characters/Kassey/Skins/Skin2/1cdb3e0d.tres
res://Materials/Characters/Kassey/Skins/Skin2/745d6b16.tres
res://Materials/Characters/Kassey/Skins/Skin2/2a9e0256.tres
res://Materials/Characters/Kassey/Skins/Skin2/90d5da87.tres
res://Materials/Characters/Kassey/Skins/Skin2/7a3234cb.tres
res://Materials/Characters/Di/Skins/Skin1/d5624974.tres
res://Materials/Characters/Di/Skins/Skin1/2f7c7e84.tres
res://Materials/Characters/Di/Skins/Skin1/de7c43b2.tres
res://Materials/Characters/Di/Skins/Skin1/58044425.tres
res://Materials/Characters/Di/Skins/Skin1/d24287ce.tres
res://Materials/Characters/Di/Skins/Skin1/a637d689.tres
res://Materials/Characters/Di/Skins/Skin1/21ba9c31.tres
res://Materials/Characters/Di/Skins/Default/a6cbf87d.tres
res://Materials/Characters/Di/Skins/Default/125799c1.tres
res://Materials/Characters/Di/Skins/Default/bed17116.tres
res://Materials/Characters/Di/Skins/Default/9c8b0c60.tres
res://Materials/Characters/Di/Skins/Default/b136187a.tres
res://Materials/Characters/Di/Skins/Default/406c45bc.tres
res://Materials/Characters/Di/Skins/Default/e50b3e8a.tres
res://Materials/Characters/Di/Skins/Skin3/ffd7fa7.tres
res://Materials/Characters/Di/Skins/Skin3/74e19cf9.tres
res://Materials/Characters/Di/Skins/Skin3/674aee2f.tres
res://Materials/Characters/Di/Skins/Skin3/bf8c5752.tres
res://Materials/Characters/Di/Skins/Skin3/659177d6.tres
res://Materials/Characters/Di/Skins/Skin3/1cba2a67.tres
res://Materials/Characters/Di/Skins/Skin3/5ffef518.tres
res://Materials/Characters/Di/Skins/Skin2/c984bda5.tres
res://Materials/Characters/Di/Skins/Skin2/255f439a.tres
res://Materials/Characters/Di/Skins/Skin2/d8531f36.tres
res://Materials/Characters/Di/Skins/Skin2/2ec711a.tres
res://Materials/Characters/Di/Skins/Skin2/45313193.tres
res://Materials/Characters/Di/Skins/Skin2/23942198.tres
res://Materials/Characters/Di/Skins/Skin2/52cf70ab.tres
res://Materials/Characters/Mayfly/Skins/Skin1/3b60cd1.tres
res://Materials/Characters/Mayfly/Skins/Skin1/84d8682c.tres
res://Materials/Characters/Mayfly/Skins/Skin1/e7fc185f.tres
res://Materials/Characters/Mayfly/Skins/Skin1/7f9b2d2e.tres
res://Materials/Characters/Mayfly/Skins/Skin1/cf1d029e.tres
res://Materials/Characters/Mayfly/Skins/Skin1/99b0728c.tres
res://Materials/Characters/Mayfly/Skins/Default/df542a04.tres
res://Materials/Characters/Mayfly/Skins/Default/3645e401.tres
res://Materials/Characters/Mayfly/Skins/Default/13f49f7c.tres
res://Materials/Characters/Mayfly/Skins/Default/e391c87b.tres
res://Materials/Characters/Mayfly/Skins/Default/ef72a3db.tres
res://Materials/Characters/Mayfly/Skins/Default/9f06dbc3.tres
res://Materials/Characters/Mayfly/Skins/Skin3/22f8a51b.tres
res://Materials/Characters/Mayfly/Skins/Skin3/213d314f.tres
res://Materials/Characters/Mayfly/Skins/Skin3/3590609f.tres
res://Materials/Characters/Mayfly/Skins/Skin3/44297578.tres
res://Materials/Characters/Mayfly/Skins/Skin3/89a1d76c.tres
res://Materials/Characters/Mayfly/Skins/Skin3/51fc7053.tres
res://Materials/Characters/Mayfly/Skins/Skin2/6a5a945a.tres
res://Materials/Characters/Mayfly/Skins/Skin2/67076af9.tres
res://Materials/Characters/Mayfly/Skins/Skin2/a9f51894.tres
res://Materials/Characters/Mayfly/Skins/Skin2/c5c3676c.tres
res://Materials/Characters/Mayfly/Skins/Skin2/101a1f28.tres
res://Materials/Characters/Mayfly/Skins/Skin2/dca3a4fe.tres
res://Materials/Characters/Slash/Skins/Skin1/5eccf1e4.tres
res://Materials/Characters/Slash/Skins/Skin1/f589e076.tres
res://Materials/Characters/Slash/Skins/Skin1/da8223a0.tres
res://Materials/Characters/Slash/Skins/Skin1/1fcbbb75.tres
res://Materials/Characters/Slash/Skins/Skin1/9f3c5156.tres
res://Materials/Characters/Slash/Skins/Skin1/22d056e4.tres
res://Materials/Characters/Slash/Skins/Skin1/35c3bfba.tres
res://Materials/Characters/Slash/Skins/Default/5eccf1e4.tres
res://Materials/Characters/Slash/Skins/Default/f589e076.tres
res://Materials/Characters/Slash/Skins/Default/da8223a0.tres
res://Materials/Characters/Slash/Skins/Default/1fcbbb75.tres
res://Materials/Characters/Slash/Skins/Default/9f3c5156.tres
res://Materials/Characters/Slash/Skins/Default/22d056e4.tres
res://Materials/Characters/Slash/Skins/Default/35c3bfba.tres
res://Materials/Characters/Slash/Skins/Skin3/5eccf1e4.tres
res://Materials/Characters/Slash/Skins/Skin3/f589e076.tres
res://Materials/Characters/Slash/Skins/Skin3/da8223a0.tres
res://Materials/Characters/Slash/Skins/Skin3/1fcbbb75.tres
res://Materials/Characters/Slash/Skins/Skin3/9f3c5156.tres
res://Materials/Characters/Slash/Skins/Skin3/22d056e4.tres
res://Materials/Characters/Slash/Skins/Skin3/35c3bfba.tres
res://Materials/Characters/Slash/Skins/Skin2/5eccf1e4.tres
res://Materials/Characters/Slash/Skins/Skin2/f589e076.tres
res://Materials/Characters/Slash/Skins/Skin2/da8223a0.tres
res://Materials/Characters/Slash/Skins/Skin2/1fcbbb75.tres
res://Materials/Characters/Slash/Skins/Skin2/9f3c5156.tres
res://Materials/Characters/Slash/Skins/Skin2/22d056e4.tres
res://Materials/Characters/Slash/Skins/Skin2/35c3bfba.tres
res://Materials/Pickups/af4cf111_R.tres
res://Materials/Pickups/af4cf111_BB.tres
res://Materials/Pickups/af4cf111_G.tres
res://Materials/Pickups/af4cf111_GB.tres
res://Materials/Pickups/d8b97757.tres
res://Materials/Pickups/5c8e64d8.tres
res://Materials/Pickups/b0e9db7e.tres
res://Materials/Pickups/af4cf111_B.tres
res://Materials/Pickups/606fc457.tres
res://Materials/Pickups/af4cf111_RB.tres
res://Materials/Pickups/ed69cab3.tres
res://Materials/Pickups/4e82a015.tres
res://Materials/Pickups/16d3ceb8.tres
res://Models/Characters/Kassey/Skins/Skin2.tscn
res://Models/Characters/Kassey/Skins/Skin3.tscn
res://Models/Characters/Kassey/Skins/Skin1.tscn
res://Models/Characters/Di/Skins/Skin2.tscn
res://Models/Characters/Di/Skins/Skin3.tscn
res://Models/Characters/Di/Skins/Skin1.tscn
res://Models/Characters/Mayfly/Skins/Skin2.tscn
res://Models/Characters/Mayfly/Skins/Skin3.tscn
res://Models/Characters/Mayfly/Skins/Skin1.tscn
res://Models/Characters/Slash/Skins/Skin2.tscn
res://Models/Characters/Slash/Skins/Skin3.tscn
res://Models/Characters/Slash/Skins/Skin1.tscn
res://Prefabs/UI/VersusCard.tscn
res://Prefabs/UI/CustomSlider10.tscn
res://Prefabs/gpu_particles_3d_2.tscn
res://Prefabs/Gizmos/CameraGizmo.tscn
res://Prefabs/Gizmos/MapGizmo.tscn
res://Prefabs/Gizmos/SpawnGizmo.tscn
res://Prefabs/gpu_particles_3d.tscn
res://Prefabs/Weapons/HandGun/HandGun.tscn
res://Prefabs/Weapons/MotoGun/MotoGun.tscn
res://Prefabs/Weapons/ShotGun/ShotGun.tscn
res://Prefabs/Weapons/ShotGun/EjectingBrass.tscn
res://Prefabs/Weapons/Common/Bullet.tscn
res://Prefabs/Weapons/Common/EjectingBrass.tscn
res://Prefabs/Weapons/LaserRifle/Bullet.tscn
res://Prefabs/Weapons/LaserRifle/LaserRifle.tscn
res://Prefabs/Weapons/KillerSword.tscn
res://Prefabs/Weapons/RaySword.tscn
res://Prefabs/node_3d.tscn
res://Prefabs/Particles/Rain/Ripple.tscn
res://Prefabs/Particles/Rain/Raindrops.tscn
res://Prefabs/Particles/Rain/Splash.tscn
res://Prefabs/Particles/Dash Trail/Dash Particle Trail.tres
res://Prefabs/Particles/Dash Trail/Dash Trail.tres
res://Prefabs/Particles/Dash Trail/Dash Trail.tscn
res://Prefabs/Particles/BloodSplatter.tscn
res://Prefabs/Particles/BloodSplash.tscn
res://Prefabs/Particles/GlassSpark.tscn
res://Prefabs/Particles/RaySpark.tscn
res://Prefabs/Particles/HitSpark.tscn
res://Prefabs/Particles/Snow/Snowfall.tscn
res://Prefabs/Particles/Snow/GroundSnow.tscn
res://Prefabs/Menus/SelectArena/ArenaCard.tscn
res://Prefabs/Items/jetpack.tscn
res://Prefabs/Levels/InvisibleWall.tscn
res://Prefabs/Levels/WallBoundary.tscn
res://Prefabs/Pickups/Templates/Base B.tscn
res://Prefabs/Pickups/Templates/Base R.tscn
res://Prefabs/Pickups/Templates/Base G.tscn
res://Prefabs/Player/CameraPivot.tscn
res://Prefabs/Player/RoundPivot.tscn
res://Prefabs/Player/KoPivot.tscn
res://Prefabs/Decals/DirtDecal.tscn
res://Prefabs/Decals/StoneDecal.tscn
res://Prefabs/Decals/BloodDecal.tscn
res://Prefabs/Decals/WaterDecal.tscn
res://Scenes/Playground2.tscn
res://Scenes/UI/PauseMenu.tscn
res://Scenes/UI/CameraEffects3D.tscn
res://Scenes/UI/Announcer.tscn
res://Scenes/UI/PlayerHUD.tscn
res://Scenes/Playground3.tscn
res://Scenes/SelectPlayer.tscn
res://Scenes/SelectArena.tscn
res://Scenes/MainMenu.tscn
res://Scenes/Levels/OceanCastleTwilight/OceanCastleTwilight.tscn
res://Scenes/Levels/SunkenCityNight/SunkenCityNight.tscn
res://Scenes/Levels/PitchDarkStadium/PitchDarkStadium.tscn
res://Scenes/Playground1.tscn
